.boardContainer{
    display:inline-block;
    
}

.Square {
    width:50px;
    height:50px;
    border: solid 1px black;
}
.Square:focus{outline: 0}

.selected{
    background-color:black;
}
.unselected{
    background-color:white;
}
.filled{
    background-color:gray;
}

.clue {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
}
.clueGrid{
    
}
.clueRow{
    height:50px;
}

.topGrid{
    margin-left:200px;
    margin-top: 50px;
    display:block;
}
.topGrid .clue{
    width: 50px;
    height: 10px;
}
.sideGrid{
    width:200px;
    display:inline-block;
}
.sideGrid .clueRow{
    text-align:right;
}
.sideGrid .clue{
    width:20px;
    height:50px;
}